*{
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
}

#content {
  padding-bottom: 100px;
  /* Height of the footer element */
}

#footer {
  background: #333;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  padding-top: 1%;
  padding-bottom: 1%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 1%;
  background: white;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.nav{
  background-color: #333;
  display: flex;
  justify-content: center;
}

.nav ul {
  list-style-type: none;
  overflow: hidden;
  position: relative;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

.left{
  float: left;
}

.right{
  float: right;
}

.styling_text{
  margin-top: 16px;
  padding: 8px;
  color: white;
  background: #333333;
  font-family: Arial;
  font-size: 20px;
}

.container {
  padding: 16px;
}

.container {
  padding: 16px;
}

input[type=text], input[type=password], input[type=datetime-local] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #333333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/*Custom select*/

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  margin: 8px 0;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #333333;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 10px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 12px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgb(255, 255, 255) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #333333;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.8);
}

