<div id="wrapper">

    <div id="header">
        <div class="nav">

        </div>
    </div>
    <!-- #header -->

    <div id="content">
        <div class="card w-60">
            <div class="container">
                <form action="/login" method="post">
                    <div class="container">
                        <label for="login"><b>Логин</b></label>
                        <input type="text" placeholder="Введите Логин" id="login" name="login" required>

                        <label for="pass"><b>Пароль</b></label>
                        <input type="password" placeholder="Введите Пароль" id="pass" name="pass" required>

                        <button type="submit">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

